.ba-drink {
  padding: 30px 0;
}
.soft-drink {
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-image: url(../image/ba.png), url(../image/cola.png), url(../image/jucie.png);
  background-repeat: no-repeat;
  background-size: 310px, 150px, 200px;
  background-position: top 15px left 5px, top 100px left 30px, top 350px left;
  margin-bottom: 20px;
  @media screen and (max-width: 360px) {
    background-size: 240px, 200px, 250px;
    background-position: top 15px left 5px, top 100px left 10px, top 350px left;
  }
  @media screen and (min-width: 440px) {
    background-size: 400px, 200px, 250px;
    background-position: top 15px left 5px, top 100px left 30px, top 350px left;
    padding-top: 130px;
  }
}
.soft-drink-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: purple;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.soft-drink-list-itme__price {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 600;
}
.soft-drink-list-item__gram {
  font-size: 15px;
}
.lemode-drink {
  background-color: #ffffff;
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background-image: url(../image/lemonade.png), url(../image/lemonade-img.png);
  background-repeat: no-repeat;
  background-position: top left, bottom 185px left 90px;
  background-size: auto, 170px;
  position: relative;
}
.ml {
  position: absolute;
  top: 90px;
  right: 40px;
  font-size: 20px;
  font-weight: 500;
  color: purple;
  @media screen and (max-width: 390px) {
    display: none;
  }
}
.lemonade-drink-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: purple;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.lemonade-drink-list-item__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}
.lemonade-drink-list-itme__price {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
}
.ba-coktail {
  padding-top: 100px;
  background-image: url(../image/ba-koktail.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.ba-coktail-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: purple;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.ba-coktail-list-item__price {
  font-weight: 600;
  margin-left: 20px;
}
