.container {
  padding: 0 20px;
}
.menu {
  padding: 30px 0;
  overflow: hidden;
}
.menu .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url(../image/bg1.png);
  // background-repeat: no-repeat;
  // background-position: top left 10px;
}
.menu-list-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  background-color: #ffffffb6;
  color: purple;
  border-radius: 20px;
  outline: none;
  transition: background-color 300ms linear, color 300ms linear;
  &:hover,
  &:focus {
    background-color: #68466f;
    color: #ffffff;
  }
}

.menu-list-item {
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.menu-list {
  width: 100%;
}
.akcia {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border-radius: 20px;
  outline: none;
  margin-bottom: 15px;
  transition: background-color 300ms linear, color 300ms linear, transform 300ms linear;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  animation: akcia 3s linear infinite;
  &:active {
    transform: scale(2);
  }
}
@keyframes akcia {
  0% {
    background-color: red;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: rgb(11, 244, 236);
  }
  100% {
    background-color: red;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 700ms linear, visibility 700ms linear;
}
.backdrop.is-hidden-a .modal {
  transform: scale(0) rotate(720deg);
}
.modal {
  background-color: pink;
  border-radius: 20px;
  // border: 4px dashed black;
  transform: scale(1) rotate(0);
  transition: transform 700ms linear;
  padding: 15px;
  overflow: auto;
  position: relative;
  animation: lightmodal 1s linear infinite;
}
.is-hidden-a {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.hookah-akcia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px dashed purple;
  border-radius: 15px;
  padding: 10px;
}
.img-hookah-akcia-three {
  width: 90px;
}
.akcia-text-hookah {
  font-size: 50px;
  color: purple;
  font-weight: 600;
  animation: light 1s linear infinite;
}
@keyframes light {
  0% {
    text-shadow: 2px 0 2px rgba(168, 25, 224, 0.69), 0 2px 2px rgba(168, 25, 224, 0.69),
      -2px 0 2px rgba(168, 25, 224, 0.69), 0 -2px 2px rgba(168, 25, 224, 0.69);
  }
  50% {
    text-shadow: 6px 0 4px rgba(168, 25, 224, 0.69), 0 4px 4px rgba(168, 25, 224, 0.69),
      -4px 0 4px rgba(168, 25, 224, 0.69), 0 -4px 4px rgba(168, 25, 224, 0.69);
  }
  100% {
    text-shadow: 2px 0 2px rgba(168, 25, 224, 0.69), 0 2px 2px rgba(168, 25, 224, 0.69),
      -2px 0 2px rgba(168, 25, 224, 0.69), 0 -2px 2px rgba(168, 25, 224, 0.69);
  }
}
@keyframes lightmodal {
  0% {
    box-shadow: 2px 0 2px rgba(168, 25, 224, 0.69), 0 2px 2px rgba(168, 25, 224, 0.69),
      -2px 0 2px rgba(168, 25, 224, 0.69), 0 -2px 2px rgba(168, 25, 224, 0.69);
  }
  50% {
    box-shadow: 6px 0 6px rgba(168, 25, 224, 0.69), 0 6px 6px rgba(168, 25, 224, 0.69),
      -6px 0 6px rgba(168, 25, 224, 0.69), 0 -6px 6px rgba(168, 25, 224, 0.69);
  }
  100% {
    box-shadow: 2px 0 2px rgba(168, 25, 224, 0.69), 0 2px 2px rgba(168, 25, 224, 0.69),
      -2px 0 2px rgba(168, 25, 224, 0.69), 0 -2px 2px rgba(168, 25, 224, 0.69);
  }
}
.akcia-title {
  font-size: 60px;
  font-weight: 600;
  color: purple;
  text-transform: uppercase;
  animation: light 1s linear infinite;
}
.img-hookah-akcia-aperol {
  width: 52px;
  margin-left: -20px;
}
.akcia-title-aperol {
  font-size: 60px;
  font-weight: 600;
  color: purple;
  text-transform: uppercase;
  animation: light 1s linear infinite;
  margin-top: 20px;
}
.akcia-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}
.icon__akcia-close {
  fill: rgba(128, 0, 128, 0.514);
}
.ap-txt {
  margin-right: 20px;
}
